@charset "UTF-8";

/*Default
*/

* {
    margin : 0; padding : 0; box-sizing: border-box;
    border: none; font-size: 18px; color: #999999;
    font-family: 'Malgun Gothic', sans-serif;
}
ul, ol {list-style: none;}
a { text-decoration: none;}

.outline {min-width: 1140px; overflow: hidden;}
.inline {max-width: 1140px; margin : 0 auto;}

.row {display: flex; flex-wrap : wrap;}
.col-100 {flex: 0 0 100%; max-width: 100%}
.col-60 {flex : 0 0 60%; max-width: 60%}
.col-40 {flex: 0 0 40%; max-width: 40%}
.col-25 {flex: 0 0 25%; max-width: 25%}


.icon, .link, img[alt*='icon'], img[alt*='Icon'] {cursor: pointer}
.icon:hover, img[alt*='icon']:hover, img[alt*='Icon']:hover {transition : 0.5s transform; transform : scale(1.1)}
.link:hover { text-decoration: underline;}

.section-title {
    text-align: center; color: #606060; font-size: 30px;
}

.section-text {
    text-align: center; white-space: pre-line;
}

/*Background*/
aside {background-color: rgba(255, 82, 30, 0.6)}
header section {background-color: rgba(0, 0, 0, 0.3); border-left: 5px solid #FF521E}
#welcome .button::after {border-color: #f7941d transparent transparent #f7941d}
#stats, footer .contents {background-color: rgba(183, 47, 5, 0.45)}
.zoom {background-color: rgba(255,82, 30, 0.8)}
#newsletter {background-color: #FF521E }
#copyright {background-color: rgba(0, 0, 0, 0.8)}
button {background-color: #656565}

#newsletter input {background-color: #fff;}
footer input, footer textarea {background-color: rgba(255, 255, 255, 0.3); color: white; font-size: 25px;}
footer input::placeholder, footer textarea::placeholder {color: white; font-size: 25px;}
input, textarea {padding-left: 20px;}
#newsletter input, #newsletter button,
footer input, footer button {
    height: 50px;
}

/*Aside
*/

#asideBtn{
    width: 60px; height: 60px;
    position : fixed; right: 0; top: 75px;
    display: flex; justify-content: center; align-items: center;
    z-index : 1000; background-color: rgba(0, 0, 0, 0.6);
}

#asideFade { display: none; }
#asideFade:checked ~ aside {
    right: 0;
}

aside {
    right: -380px; top: 0; position : fixed;
    width: 380px; height: 100%; z-index: 999;
    padding-top : 140px;
}

aside li {
    text-align: center; color: white; font-size: 25px;
}

/*Header
*/

header {position: relative}
header > .inline  {padding: 30px 0 160px;}
nav {display:flex; justify-content: space-between; align-items: flex-end;}
nav ul {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: flex-end;
}

nav li {
    font-size: 20px; color: white; text-align: center;
}


header section {
    width: 1000px; height: 150px; display: flex; justify-content: space-between; align-items: center;
    padding : 30px 30px 30px 80px; margin : 260px auto 0;
}

header .title {
    font-family: 'Segoe UI', sans-serif; font-size: 40px; color: white;
    font-style: italic; font-weight: bolder; white-space: pre-line; line-height: 35px;
}

header .sub-title {
    font-size: 14px; color: white;
}

header .icon-area {
    display: flex; justify-content: space-between; width: 30%;
    height: 100%; align-items: flex-end;
}

#social {
    width: calc(30px * 3 + 25px * 2); height : 30px;
    display: flex; justify-content: space-between; align-items: center;
}

/*Slide*/
#slide-control {
    width: 21px; height: calc(20px * 3 + 10px * 2);
    overflow: hidden;
}

#slide-control > div {
    width: 20px; height: calc(20px * 5 + 10px * 4);
    display: flex; flex-direction : column; justify-content: space-between; align-items: center;
    transform: translateY(-90px); animation: labelSlide 9s linear infinite;
}

#slide-control label {
    width: 20px; height: 20px; display: block;
    border: 5px solid #fff; border-radius: 50%;
    background-color: #fff;
}

#radio1:checked ~ .inline .label1,
#radio2:checked ~ .inline .label2,
#radio3:checked ~ .inline .label3 {
    background : none;
}

@keyframes labelSlide {
    0%      {transform : translateY(-60px)}
    26.666% {transform : translateY(-60px)}
    26.6661% {transform : translateY(-30px)}
    59.999% {transform : translateY(-30px)}
    59.9991% {transform : translateY(0)}
    93.333% {transform : translateY(0)}
    93.3331% {transform : translateY(-60px)}
    100%    {transform : translateY(-60px)}
}



.radio { display: none; }

#slide-images {
    position: absolute; left: 0; top: 0; width:100%; height: 100%;
    z-index: -1000; overflow: hidden;
}

.slide-box {
    position: absolute; top: 0; width: 100%;height: 100%;
    overflow: hidden; transition : left 0.1s, z-index 0s;
}

.slide-box > div {
    width: 400%; height: 100%; display: flex; align-items: center;
    animation : autoSlide ease 9s infinite;
}

#slide-images > .slide-box:nth-child(1) > div {animation-delay : -9s;}
#slide-images > .slide-box:nth-child(2) > div {animation-delay : -12s;}
#slide-images > .slide-box:nth-child(3) > div {animation-delay : -15s;}

.slide-box img {
    width: calc(100%/4); height: 100%;
}

@keyframes autoSlide {
    0%      {margin-left: 0}
    26.666% {margin-left: 0}
    33.333% {margin-left: -100%}
    59.999% {margin-left: -100%}
    66.666% {margin-left: -200%}
    93.333% {margin-left: -200%}
    99.999% {margin-left: -300%}
    100%    {margin-left: -300%}
}

#radio1:checked ~ #slide-images > .slide-box:nth-child(1),
#radio2:checked ~ #slide-images > .slide-box:nth-child(2),
#radio3:checked ~ #slide-images > .slide-box:nth-child(3){
    left: 0; z-index: -400;
}

#radio1:checked ~ #slide-images > .slide-box:nth-child(2),
#radio2:checked ~ #slide-images > .slide-box:nth-child(3),
#radio3:checked ~ #slide-images > .slide-box:nth-child(1){
    left: 100%; z-index: -500;
}

#radio1:checked ~ #slide-images > .slide-box:nth-child(3),
#radio2:checked ~ #slide-images > .slide-box:nth-child(1),
#radio3:checked ~ #slide-images > .slide-box:nth-child(2){
    left: -100%; z-index: -600;
}


/*Welcome
*/

#welcome {padding: 100px 0;}
#welcome .section-text {margin: 30px 0;}
#welcome .button-group { text-align: center;}
#welcome .button {
    display: inline; font-size: 16px; color: #878787;
    text-align: center; border: 2px solid #a1a1a1;
    width: 140px; padding: 5px 15px; position : relative;
}

#welcome .button::before {
    content :''; position : absolute; left : -2px; top: -2px;
    border-style: solid; border-width: 10px; border-color: #fff transparent transparent #ffffff;
}

#welcome .button::after {
    content: ''; position : absolute; left: -1px; top: -1px;
    border-style: solid; border-width: 7px;
}

/*Stats
*/

#stats {padding: 100px 0 75px; position : relative}
#stats::before {
    content : '';
    position : absolute; left: 0; top : 0; width: 100%; height: 100%;
    background-image: url("./images/stats.png");
    background-position : left center;
    background-repeat : no-repeat;
    background-size: 100% 100%;
    z-index: -10; opacity: 0.3;
}

#stats::after {
    content :'TRAVELGO';
    position : absolute; opacity : 0.08; font-family: 'Lucida Sans', sans-serif;
    font-size: 180px; font-weight: bolder; font-style: italic;
    right: -10px; bottom : -50px; color: white;
}

#stats-list {align-items: flex-start}
.stats-item { display: flex; flex-direction : column; align-items: center; }

#stats .title {
    text-align: center;
    font-family: "Century Gothic", sans-serif; font-size: 60px; color: white;
}

#stats .sub-title {
    text-align: center; font-size: 20px; color :white;
}

/*Photos
*/

#photos {padding: 100px 0;}
#photos .section-title {margin-bottom : 75px;}
.photo-item {
    display: flex; flex-direction :column ;align-items: center; padding: 10px;
}

.photo-item .image {
    display: flex; width: 100%; position :relative;
    align-items: flex-start;
}

.photo-item .image > img{
    flex: 0 0 100%;
}

.zoom {
    position : absolute; right:0 ; bottom : 0;
    width: 50px; height: 50px; display: flex; justify-content: center; align-items:center;
}

.zoom:hover { width: 100%; height: 100%; transition : 0.5s;}

.goal { font-size: 20px; color: #333333; margin-top: 20px; }


/*Newsletter
*/

#newsletter { padding: 30px 0;}
#newsletter .row {align-items: center;}
#newsletter .title {
    font-size: 30px; color: white;
}
#newsletter .form-group {display: flex; align-items: center; padding-left: 30px;}

#newsletter input {
    width: calc(50% - 10px); color : #999999; font-size: 25px;
}

#newsletter input:valid {border: lightskyblue solid 5px; color: lightblue}
#newsletter input:invalid:focus {border: indianred solid 5px; color: indianred}

#newsletter button {
    width: calc(50% - 10px); margin-left: 20px;
    text-align: center; font-size: 25px; color: white;
}


/*footer
*/

footer {position: relative}
footer::before {
    content :''; position : absolute; left: 0; top: 0;
    width: 100%; height: 100%;
    background-image: url("./images/footer.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size : 100% 100%; opacity : 0.3;
    z-index : -10;
}

footer p {
    color: white; font-size: 20px;
}

footer .contents {
    padding : 50px 0 75px;
}

footer .icon-item {
    display: flex; align-items: flex-start; padding : 20px 0;
}

footer .icon-item p {
    white-space : pre-line;
}

footer .form-group > .row {
    padding: 10px;
}

footer .form-group > .row:first-child > input {
    width: calc(50% - 10px);
}

input[type='tel'] {margin-left: 20px;}

textarea {resize: none; overflow: hidden; height: 122px;}

footer button {color: white; font-size: 25px}

#copyright {height: 175px;}
#copyright p { line-height:175px; text-align: center;}


@media (max-width: 480px){
    .outline {min-width: 100%}
    .inline {max-width: 100%;}

    .col-sm-100 {flex: 0 0 100%; max-width: 100%}
    .col-sm-50 {flex : 0 0 50%; max-width: 50%}

    #stats::before, footer::before {
        background-size: auto 100%;
    }
    #stats::after {font-size: 80px; bottom: -20px;}

    .section-title {font-size: 25px;}
    .section-text {font-size: 14px;}

    header > .inline {padding: 10px 0}
    nav {
        flex-direction : column; justify-content: center; align-items: center;
    }
    nav ul {width: 100%; justify-content: space-around}
    nav li {font-size :14px;}
    header section {
        margin : 30px auto 0; height: 250px; width: 95%;
        flex-direction : column; justify-content: center;
        text-align: center; padding: 30px;
    }

    header .icon-area {width:80%; justify-content : space-around}

    #stats img { width: 75px;}
    #stats .title {font-size: 25px;}
    #stats .sub-title {font-size: 15px;}

    #newsletter .title { text-align: center; margin-bottom: 20px;}
    .form-group {padding: 10px;}
}